<html>
<head>
    <title>Game Details</title>
</head>
<body>

    

    <h1><a href="{{ url_for('read_games', id=id) }}">Game ID: {{ id, games[0].game_id, games[1].title, games[0].developer, games[0].publisher, games[0].tag, games[0].platform }}</a></h1>
    {% for game in games %}
        <div>
            <h2><a href="{{ url_for('read_games', id=game.game_id) }}">Game ID: {{ game.game_id }}</a></h2>
            <p>Title: {{ game.title }}</p>
            <p>Developer: {{ game.developer }}</p>
            <p>Publisher: {{ game.publisher }}</p>
            <p>Tag: {{ game.tag }}</p>
            <p>Platform: {{ game.platform }}</p>
        </div>
    {% endfor %}
</body>
</html>